@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh; /*tomara odo el alto de us conyenedor*/
	background: url(../imgs/fondo_escom.jpg) no-repeat center center fixed;
	background-size: cover; 
}

.face_login{
	margin-top: -50px;

}

#imagen{
	height: 200px;
}

.navbar.navbar-7 .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
	}

#nombre_app{
	font-family: 'Audiowide', cursive;
	color: rgb(11, 59, 148);
	font-size: 30px;
}

.fuente{
	font-family: 'Audiowide', cursive;
}

.bg_1{
	background-color: rgba(255, 255, 255, 0.8)
}

.bg_3{
	background-color: rgba(14, 13, 13, 0.8)
}

.bg_4{
	background-color: rgb(210, 215, 228);
}

.bg_2{
	/* background-color: rgb(18, 95, 161); */
	background: rgba(73,155,234,0.5);
	background: -moz-linear-gradient(left, rgba(73,155,234,0.8) 0%, rgba(3,10,54,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(3,10,54,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,0.8) 0%, rgba(3,10,54,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,0.8) 0%, rgba(3,10,54,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,0.8) 0%, rgba(3,10,54,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,0.8) 0%, rgba(3,10,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#030a36', GradientType=1 );
}

.divisor{
	height: 50px;
}

.info_admin{height: 300px;}


#divider_1{
	background: #000;
	width: 100%;
	height: 15px;
}

.sett{border-radius:20%; }


.logotipo{
	border: solid 1px;
	border-radius: 5px;
}


.seccion{
	height: 60px;
}

.seccion h5{font-size: 16px;}
.redondo{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border: 0px solid #000000;
	background-color: rgba(255, 255, 255, 0.514);
	margin: 2px;
}
.img_redondo{
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius:30px 30px 30px 30px;
	-webkit-border-radius:30px 30px 30px 30px;
	border: 0px solid #000000;
}













